html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
}
.r3f {
  touch-action: none;
}
.htmlScreen iframe {
  width: 1024px;
  height: 670px;
  border: none;
  background: black;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Example usage on an element */
.fade-in {
  animation: fadeIn 1.25s ease-in forwards; /* Adjust duration and timing function as needed */
}

.fade-out {
  animation: fadeOut 0.4s ease-out forwards; /* Adjust duration and timing function as needed */
}